{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 */
#}
<div class="node-edit-form clearfix">
  <div class="node-edit-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="node-edit-secondary">
    {{ form.advanced }}
  </div>
  <div class="node-edit-footer">
    {{ form.actions }}
  </div>
</div>
